* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  width: 40px;
  font-family: inherit;
  height: 40px;
  font-weight: 600;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  background: transparent;
}

.pagination button.active {
  font-weight: 900;
  background: var(--green);
  color: var(--light);
  border-color: transparent;
}
.input-container {
  position: relative;
  margin: 20px 0;
}
.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-container .input-container {
  position: relative;
  margin: 20px 0;
  width: 22%;
}

.filter-container button {
  align-self: center;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
}

.search-icon:hover {
  color: #333;
}
/*LOGIN*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-form {
  width: 400px;
  height: 350px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-family: var(--poppins);
}
.login-form h1 {
  text-align: center;
}
.form-group {
  margin-top: 30px;
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group .error {
  color: red;
}
.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 5px;
}
.login {
  background-color: var(--blue);
  color: var(--light);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
}

/*LOGIN*/

/*Edit Modal*/
.modal {
  font-family: var(--lato);
}

.modal h1 {
  margin-bottom: 24px; /* Adjust margin for smaller screens */
  font-size: 24px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: flex;
  flex-wrap: wrap; /* Allow rows to wrap on smaller screens */
  gap: 8px;
}

.form-row > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 0; /* Ensure flex items can shrink */
}

.modal-form label {
  margin-bottom: 2px;
  font-size: 14px;
}

.modal-form input,
.modal-form select {
  padding: 8px; /* Increase padding for better touch accessibility on mobile */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

span.required {
  color: red;
  margin-left: 5px;
  font-size: 12px;
}

.modal-form span.error {
  color: red;
  margin-left: 5px;
  font-size: 12px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .modal h1 {
    font-size: 20px; /* Adjust font size for smaller screens */
    margin-bottom: 16px; /* Adjust margin for smaller screens */
  }

  .modal-form label {
    font-size: 12px;
  }

  .modal-form input,
  .modal-form select {
    padding: 6px;
    font-size: 12px;
  }

  span.required,
  .modal-form span.error {
    font-size: 10px; /* Adjust font size for smaller screens */
  }
}

/*Edit Modal*/
:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;
  --light: #f9f9f9;
  --blue: #009acd;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --green: #87af73;
}

html {
  overflow-x: hidden;
}
body {
  background: var(--grey);
  overflow-x: hidden;
}

.add {
  background-color: var(--blue);
  color: var(--light);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: auto;
}
.cancel {
  background-color: #dc3545;
  color: var(--light);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}
/* NAVBAR */
nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--lato);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}
nav a {
  color: var(--dark);
}
nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}

nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}
/* NAVBAR */
.content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}
.sidebar.hide ~ .content {
  width: calc(100% - 60px);
  left: 60px;
}
/*SideBar*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--light);
  z-index: 2000;
  font-family: var(--lato);
  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}
.sidebar .logo-img {
  width: 120px;
  height: 100px;
  margin-left: 60px;
  margin-top: 50px;
}
.sidebar::--webkit-scrollbar {
  display: none;
}
.sidebar.hide {
  width: 60px;
}
.sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--blue);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}
.sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}
.sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}
.sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}
.sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}
.sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}
.sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  z-index: -1;
}
.sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}
.sidebar .side-menu.top li.active a {
  color: var(--blue);
}
.sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}
.sidebar .side-menu li a.logout {
  color: var(--red);
}
.sidebar .side-menu.top li a:hover {
  color: var(--blue);
}
.sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}
/* SIDEBAR */
/*Dashbord*/
.dashbord {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}

.dashbord .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}

.dashbord .box-info i {
  color: white;
}

.dashbord .box-info li {
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
}

.dashbord .box-info li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashbord .box-info .bx {
  background: var(--blue);
}

.dashbord .box-info li .text h3 {
  font-size: 24px;
  font-weight: 600;
}

.dashbord .box-info li .text p {
  color: var(--dark);
}

.dashbord .table-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
}

.dashbord .table-data > div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}

.dashbord .table-data .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
  color: var(--blue);
}

.dashbord .table-data .head .bx {
  cursor: pointer;
}

.order {
  flex-grow: 1;
  flex-basis: 300px;
  background-color: #f7f7f7;
}

.order table {
  width: 100%;
  border-collapse: collapse;
}

.order table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
  padding: 16px;
}

.order table td {
  padding: 16px;
}

.order table tbody tr:hover {
  background: var(--grey);
}

.order table tr td .status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}

/*Dashbord*/
/*Participant*/
.participant {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}
.head {
  display: flex;
  justify-content: space-between; /* Align items with space between them */
  align-items: center; /* Center items vertically */
}
.data {
  flex-grow: 1;
  flex-basis: 500px;
  margin-top: 12px;
  background-color: var(--light);
  padding: 24px;
  border-radius: 10px;
  overflow-x: auto;
}

.row {
  display: flex;
}
.btn {
  height: 50px;
  width: 50px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 2px;
  padding: 10px;
}
.btn i {
  font-size: 24px;
  color: var(--light);
}
.info-button {
  background-color: var(--green);
}
.edit-button {
  background-color: var(--blue);
}
.delete-button {
  background-color: var(--red);
}
.text-box-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
  width: 100%;
}

.text-box {
  flex: 1;
  margin-right: 10px;
  border-radius: 8px;
  border: 1px solid var(--dark-grey);
  height: 30px;
  padding: 12px;
  box-sizing: border-box;
}
.filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  color: var(--light);
  border: none;
}

/*Participant*/
/*Events*/
.event {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}
.checkbox-container {
  display: flex;
}

.checkbox-container label {
  margin-right: 10px;
}

/*Events*/

/*Runs*/
.participantrun {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}
/*Runs*/
/*Team*/
.team {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  th {
    font-size: 14px;
  }
}

/*Team*/
